# Dataset
The following categorical variables have been encoded into numberic ordinal scale:

- Education
1 'Below College'
2 'College'
3 'Bachelor'
4 'Master'
5 'Doctor'

- EnvironmentSatisfaction
1 'Low'
2 'Medium'
3 'High'
4 'Very High'

- JobInvolvement
1 'Low'
2 'Medium'
3 'High'
4 'Very High'

- JobSatisfaction
1 'Low'
2 'Medium'
3 'High'
4 'Very High'

- PerformanceRating
1 'Low'
2 'Good'
3 'Excellent'
4 'Outstanding'

- RelationshipSatisfaction
1 'Low'
2 'Medium'
3 'High'
4 'Very High'

- WorkLifeBalance
1 'Bad'
2 'Good'
3 'Better'
4 'Best'

# Libraries

In [24]:
import pandas as pd

# Load data

In [25]:
#Read CSV
df = pd.read_csv('hr_attrition_data.csv')
# Add colums with categorical variables for visualization
df['Attrition_Flag'] = df['Attrition'].map({'Yes': 1, 'No': 0})
df['Education_label'] = df['Education'].map({1: 'Below College', 2: 'College', 3: 'Bachelor', 4: 'Master', 5: 'Doctor'})
df['EnvironmentSatisfaction_label'] = df['EnvironmentSatisfaction'].map({ 1: 'Low', 2: 'Medium', 3: 'High', 4: 'Very High'})
df['JobInvolvement_label'] = df['JobInvolvement'].map({1 : 'Low', 2: 'Medium', 3: 'High', 4: 'Very High'})
df['JobSatisfaction_label'] = df['JobSatisfaction'].map({1: 'Low', 2: 'Medium', 3: 'High', 4: 'Very High'})
df['PerformanceRating_label'] = df['PerformanceRating'].map({1: 'Low', 2: 'Good', 3: 'Excellent', 4: 'Outstanding'})
df['RelationshipSatisfaction_label'] = df['RelationshipSatisfaction'].map({1: 'Low', 2: 'Medium', 3: 'High', 4: 'Very High'})
df['WorkLifeBalance_label'] = df['WorkLifeBalance'].map({1:'Bad',2:'Good', 3: 'Better', 4: 'Best'})
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 43 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Age                             1470 non-null   int64
 1   Attrition                       1470 non-null   object
 2   BusinessTravel                  1470 non-null   object
 3   DailyRate                       1470 non-null   int64
 4   Department                      1470 non-null   object
 5   DistanceFromHome                1470 non-null   int64
 6   Education                       1470 non-null   int64
 7   EducationField                  1470 non-null   object
 8   EmployeeCount                   1470 non-null   int64
 9   EmployeeNumber                  1470 non-null   int64
 10  EnvironmentSatisfaction         1470 non-null   int64
 11  Gender                          1470 non-null   object
 12  HourlyRate                      1470 non-null   int64
 13  JobInvolvement                  1470 non-null   int64
 14  JobLevel                        1470 non-null   int64
 15  JobRole                         1470 non-null   object
 16  JobSatisfaction                 1470 non-null   int64
 17  MaritalStatus                   1470 non-null   object
 18  MonthlyIncome                   1470 non-null   int64
 19  MonthlyRate                     1470 non-null   int64
 20  NumCompaniesWorked              1470 non-null   int64
 21  Over18                          1470 non-null   object
 22  OverTime                        1470 non-null   object
 23  PercentSalaryHike               1470 non-null   int64
 24  PerformanceRating               1470 non-null   int64
 25  RelationshipSatisfaction        1470 non-null   int64
 26  StandardHours                   1470 non-null   int64
 27  StockOptionLevel                1470 non-null   int64
 28  TotalWorkingYears               1470 non-null   int64
 29  TrainingTimesLastYear           1470 non-null   int64
 30  WorkLifeBalance                 1470 non-null   int64
 31  YearsAtCompany                  1470 non-null   int64
 32  YearsInCurrentRole              1470 non-null   int64
 33  YearsSinceLastPromotion         1470 non-null   int64
 34  YearsWithCurrManager            1470 non-null   int64
 35  Attrition_Flag                  1470 non-null   int64
 36  Education_label                 1470 non-null   object
 37  EnvironmentSatisfaction_label   1470 non-null   object
 38  JobInvolvement_label            1470 non-null   object
 39  JobSatisfaction_label           1470 non-null   object
 40  PerformanceRating_label         1470 non-null   object
 41  RelationshipSatisfaction_label  1470 non-null   object
 42  WorkLifeBalance_label           1470 non-null   object
dtypes: int64(27), object(16)
memory usage: 494.0+ KB

In [26]:
#Show first 5 data entries
df.head(5)

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,YearsSinceLastPromotion,YearsWithCurrManager,Attrition_Flag,Education_label,EnvironmentSatisfaction_label,JobInvolvement_label,JobSatisfaction_label,PerformanceRating_label,RelationshipSatisfaction_label,WorkLifeBalance_label
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,0,5,1,College,Medium,High,Very High,Excellent,Low,Bad
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,1,7,0,Below College,High,Medium,Medium,Outstanding,Very High,Better
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,0,0,1,College,Very High,Medium,High,Excellent,Medium,Better
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,0,0,Master,Very High,High,High,Excellent,High,Better
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,2,2,0,Below College,Low,High,Medium,Excellent,Very High,Better

In [27]:
# Find duplicate rows based EmployeeCount, Over18 and StandardHours
duplicate = df[df.duplicated(['EmployeeCount', 'Over18', 'StandardHours'])]
print("Duplicate Rows based on EmployeeCount, Over18, StandardHours :")
duplicate[['EmployeeCount', 'Over18', 'StandardHours']].head(5)

Duplicate Rows based on EmployeeCount, Over18, StandardHours :

   EmployeeCount Over18  StandardHours
1              1      Y             80
2              1      Y             80
3              1      Y             80
4              1      Y             80
5              1      Y             80

In [28]:
# Count duplicate rows based EmployeeCount, Over18 and StandardHours
print("Duplicate Rows:")
duplicate[['EmployeeCount', 'Over18', 'StandardHours']].shape[0]

Duplicate Rows:

1469

# Preprocessing

In [29]:
# Remove columns with duplicated rows
df.drop(['EmployeeCount', 'EmployeeNumber', 'Over18', 'StandardHours'], axis="columns", inplace=True)

In [30]:
df.dtypes

Age                                int64
Attrition                         object
BusinessTravel                    object
DailyRate                          int64
Department                        object
DistanceFromHome                   int64
Education                          int64
EducationField                    object
EnvironmentSatisfaction            int64
Gender                            object
HourlyRate                         int64
JobInvolvement                     int64
JobLevel                           int64
JobRole                           object
JobSatisfaction                    int64
MaritalStatus                     object
MonthlyIncome                      int64
MonthlyRate                        int64
NumCompaniesWorked                 int64
OverTime                          object
PercentSalaryHike                  int64
PerformanceRating                  int64
RelationshipSatisfaction           int64
StockOptionLevel                   int64
TotalWorkingYears                  int64
TrainingTimesLastYear              int64
WorkLifeBalance                    int64
YearsAtCompany                     int64
YearsInCurrentRole                 int64
YearsSinceLastPromotion            int64
YearsWithCurrManager               int64
Attrition_Flag                     int64
Education_label                   object
EnvironmentSatisfaction_label     object
JobInvolvement_label              object
JobSatisfaction_label             object
PerformanceRating_label           object
RelationshipSatisfaction_label    object
WorkLifeBalance_label             object
dtype: object